<header class="sticky-top bg-white shadow-sm">
    <div class="container py-1">
        <div class="center mx-auto flex-wrap">
            <a class="tab m-1 px-2 py-1 text-dark" aria-current="page" href="<%=site_url%>">Home</a>
            <a class="tab m-1 px-2 py-1 text-dark" href="<%=site_url%>/projects">Projects</a>
            <a class="tab m-1 px-2 py-1 text-dark" href="<%=site_url%>/about">About</a>
            <a class="tab m-1 px-2 py-1 text-dark" href="<%=site_url%>/blog">Blog</a>
            <a class="tab m-1 px-2 py-1 text-dark" href="<%=site_url%>/podcast">Podcast</a>
        </div>
    </div>
</header>