<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/meta.ejs') %>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <title>
            <%=selected_episode.split('-').join(' ')%> | Vishwas Acharya
        </title>
        <%- include ('../includes/styles.ejs') %>
                <style>
                    .text-underline-hover:hover {
                        text-decoration: underline;
                        color: #4169e1;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                    }

                    .platform-logo {
                        width: 30px;
                        height: 30px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in-out;
                    }

                    .platform-logo:hover {
                        transform: scale(1.2);
                    }
                </style>
</head>

<body>
    <%- include ('../includes/navbar.ejs') %>

        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        <% for (let i=0; i<podEpisodes.length; i++) {%>
                            <% if (podEpisodes[i].episode_name.toLowerCase()==selected_episode.toLowerCase().split('-').join(' ')) {%>
                                <div class="center">
                                    <img loading="lazy" class="img-fluid rounded shadow" src="<%=podEpisodes[i].episode_image%>" alt="Vishwas Acharya Podcast Cover">
                                </div>
                                <div class="my-5">
                                    <div class="row">
                                        <h1 class="mb-3"><%= podEpisodes[i].episode_name %></h1>
                                        <p class="mb-3"><%= podEpisodes[i].episode_desc %></p>
                                        <iframe class="mb-3" src="https://open.spotify.com/embed/episode/<%= podEpisodes[i].episode_emLink %>?utm_source=generator" width="100%" height="232" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>

        <%- include ('../includes/footer.ejs') %>
        <%- include ('../includes/scripts.ejs') %>
</body>

</html>