<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/meta.ejs') %>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <title>
            <%=selected_episode.split('-').join(' ')%> | Vishwas Acharya
        </title>
        <%- include ('../includes/styles.ejs') %>
                <style>
                    .text-underline-hover:hover {
                        text-decoration: underline;
                        color: #4169e1;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                    }
                </style>
</head>

<body>
    <%- include ('../includes/navbar.ejs') %>

    <% for (let i=0; i<podEpisodes.length; i++) {%>
        <% if (podEpisodes[i].episode_name.toLowerCase()==selected_episode.toLowerCase().split('-').join(' ')) {%>

        <section class="bg-light">
            <div class="my-5 text-center">
                <h1 class="fw-bold"><%= podEpisodes[i].episode_name %></h1>
                <p class=""><i class="fa-solid fa-user mx-2"></i><strong>Author:</strong> Vishwas Acharya</p>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="px-1">
                            <div class="row mb-5">
                                <div class="col-12 col-md-6">
                                    <img class="img-fluid rounded shadow mb-3" width="700" src="<%=podEpisodes[i].episode_image%>" alt="Vishwas Acharya Podcast Cover">
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-3 text-justify"><%= podEpisodes[i].episode_desc %></p>
                                    <P class="dropdown-divider"></P>
                                    <div class="">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=<%=site_url%>/podcast/<%=slug%>&quote=Check out this amazing podcast - <%= podEpisodes[i].episode_name %>" title="Share by Facebook" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                            <img class="org-icons" src="/img/icons/facebook.png" alt="Facebook Icon"/>
                                        </a>
                                        <a href="https://www.linkedin.com/shareArticle?url=<%=site_url%>/podcast/<%=slug%>&amp;title=<%= podEpisodes[i].episode_name %> &amp;summary=Check out this amazing podcast -&amp;source=<%=site_url%>/podcast/<%=slug%>" title="Share by LinkedIn" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                            <img class="org-icons" src="/img/icons/linkedin.png" alt="LinkedIn Icon"/>
                                        </a>
                                        <a href="https://twitter.com/intent/tweet?text=Check out this amazing podcast - <%= podEpisodes[i].episode_name %> at <%=site_url%>/podcast/<%=slug%>" title="Share by Tweet" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                            <img class="org-icons" src="/img/icons/twitter.png" alt="Twitter Icon"/>
                                        </a>
                                        <a href="https://wa.me/?text=Check out this podcast - <%= podEpisodes[i].episode_name %> at <%=site_url%>/podcast/<%=slug%>" data-action="share/whatsapp/share" title="Share by Whatsapp" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                            <img class="org-icons" src="/img/icons/whatsapp.png" alt="Whatsapp Icon"/>
                                        </a>
                                        <a href="mailto:?subject=<%= podEpisodes[i].episode_name %>&amp;body=Check out this podcast - <%= podEpisodes[i].episode_name %> at <%=site_url%>/podcast/<%=slug%>" title="Share by Email" title="Share by Email" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                            <img class="org-icons" src="/img/icons/gmail.png" alt="Gmail Icon"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h2 class="fw-bold">Listen Full Episode: </h2>
                                <p class="text-muted mb-3">If you don't want to go to any other platform, then you can directly listen this episode from here itself.</p>
                                <iframe loading="lazy" class="mb-3" src="https://open.spotify.com/embed/episode/<%= podEpisodes[i].episode_emLink %>?utm_source=generator" width="100%" height="232" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </section>

            <% } %>
        <% } %>

        <%- include ('../includes/cta.ejs') %>

        <section></section>

        <%- include ('../includes/footer.ejs') %>
        <%- include ('../includes/scripts.ejs') %>
</body>

</html>