<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Podcast | Vishwas Acharya</title>
    <%- include ('../includes/styles.ejs')  %> 
    <style>
        .text-underline-hover:hover{
            text-decoration: underline;
            color: #4169e1;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .platform-logo{
            width: 30px;
            height: 30px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
        .platform-logo:hover{
            transform: scale(1.2);
        }
    </style>
</head>
<body>
    <%- include ('../includes/navbar.ejs')  %>
    
    <section class="my-5 py-4">
        <div class="container">
            <div class="col-md-10 mx-auto">
                <div class=" border-0 shadow rounded my-3">
                    <div class="row">   
                        <div class="col-12 col-md-4 center px-3">
                            <img loading="lazy" class="pod-hero-img img-fluid rounded" src="<%= podDetails.pod_image %>" alt="Vishwas Acharya Podcast Cover">
                        </div>
                        <div class="col-12 col-md-8 text-center text-md-start">
                            <div class="my-3">
                                <h1><%= podDetails.pod_name %></h1>
                                <p><%= podDetails.pod_desc %></p>
                                <span class="badge rounded-pill bg-light text-dark text-decoration-none">Available on 7 Platforms</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3">Podcast Availaibility</h2>
                    <% for (let i=0; i<podAvailaibility.length; i++) {%>
                        <a href="<%= podAvailaibility[i].platform_link %>" target="_blank" rel="noopener noreferrer">
                            <img class="m-1 platform-logo" src="<%= podAvailaibility[i].platform_logo %>" title="<%= podAvailaibility[i].platform_name %>" alt="<%= podAvailaibility[i].platform_name %> Logo">
                        </a>
                    <% } %> 
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h2>List of Episodes</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <ul>
                        <% for (let i=0; i<podEpisodes.length; i++) {%>
                            <li><a class="text-underline-hover" href="<%=site_url%><%=slug%>/<%= podEpisodes[i].episode_name.toLowerCase().split(' ').join('-') %>" rel="noopener noreferrer"><%= podEpisodes[i].episode_name %></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <span class="text-muted center">Page is still Under Development</span>
            <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3yHTUwOWBFtNF1Qq4PutUU?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> -->
        </div>
    </section>

    
    <%- include ('../includes/footer.ejs')  %>
    <%- include ('../includes/scripts.ejs')  %> 
</body>
</html>