<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/meta.ejs') %>
    <title><%=title%></title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/min/podcast/index.css?cb=1653210294091">
    <!-- endinject -->
    <%- include ('../includes/styles.ejs')  %> 
</head>
<body>
    <%- include ('../includes/navbar.ejs')  %>

    <section class="bg-light bg-gradient">
        <div class="container">
            <div class="col-md-10 mx-auto">
                <div class=" border-0 rounded my-3">
                    <div class="row">   
                        <div class="col-12 col-md-4 center px-3">
                            <img loading="lazy" class="pod-hero-img img-fluid rounded shadow-lg" src="<%= podDetails.pod_image %>" alt="Vishwas Acharya Podcast Cover">
                        </div>
                        <div class="col-12 col-md-8 text-center text-md-start">
                            <div class="my-3 ">
                                <h1 class=""><%= podDetails.pod_name %></h1>
                                <p class=""><%= podDetails.pod_desc %></p>
                                <span class="badge rounded-pill bg-blue bg-gradient text-white text-decoration-none">Available on <%= podAvailaibility.length %> Platforms</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3">Podcast Availaibility</h2>
                    <% for (let i=0; i<podAvailaibility.length; i++) {%>
                        <a href="<%= podAvailaibility[i].platform_link %>" target="_blank" rel="noopener noreferrer">
                            <img class="m-1 org-icons" src="<%= podAvailaibility[i].platform_logo %>" title="<%= podAvailaibility[i].platform_name %>" alt="<%= podAvailaibility[i].platform_name %> Logo">
                        </a>
                    <% } %> 
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h2>List of Episodes</h2>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <ul>
                        <% for (let i=0; i<podEpisodes.length; i++) {%>
                            <li><a class="link" href="<%=site_url%><%=slug%>/<%= podEpisodes[i].episode_name.toLowerCase().split(' ').join('-') %>" rel="noopener noreferrer"><%= podEpisodes[i].episode_name %></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container d-flex justify-content-center">
        <div class="video-lg"></div>
    </div>
    <script src="https://api.playstory.io/api/playstory/js/62a1cd818affcd0cb5a1e29f"></script>
    <script src="https://api.playstory.io/api/playstory/js/lg"></script>
    
    <%- include ('../includes/footer.ejs')  %>
    <%- include ('../includes/scripts.ejs')  %> 
    
    <!-- <div class="pb-1 bg-light bg-gradient container row col-md-4 mb-3 mb-md-0 text-decoration-none fs-4 py-2 fw-bold font-s text-muted col-md-3 ps-md-5 d-flex flex-column m-1 link fa-solid fa-angle-right me-2 flex-wrap align-items-center justify-content-center justify-content-md-between my-2 mx-5 foot-social ms-2 justify-content-end mx-1 p-2 tab text-dark fa-brands fa-twitter fa-instagram fa-blogger-b fa-linkedin fa-facebook fa-github fa-snapchat fa-telegram mb-5 mb-4 col-md-6 col-xl-4 overflow hidden bounceIn border rounded img-fluid text-muted-hover fadeIn mt-3 ms-1 justify-content-between mx-2 my-auto font-xs fa-calendar-days fa-angles-right py-5 col-12 text-justify px-md-4 text-blue btn btn-warning height-30 center text-white form-group form-control w-100 bg-transparent btn-blue sticky-top bg-white shadow-sm py-1 mx-auto px-2 tab-active btn-success disabled btn-danger d-none"></div> -->
</body>
</html>