<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('includes/meta.ejs') %>
    
    <title><%=title%></title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/min/about.css">
    <!-- endinject -->
    <%- include ('includes/styles.ejs') %>
        <style>
            .age-text {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: .1rem;
            }

            .img-with-text {
                position: relative;
            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.385);
            }

            .img-with-text:hover .overlay {
                opacity: 1;
            }
        </style>
</head>

<body>
    <%- include ('includes/navbar.ejs') %>

    <div class="container">
        <div class="row vertical-center mx-md-5 mx-lg-0">
            <div class="col-md-3 mt-4 mt-md-0">
                <figure>
                    <div class="img-with-text">
                        <img src="img/about/av-about-main.jpg"
                            class="img-fluid shadow-lg fadeIn about-img-hover rounded" alt="About Main Image" />
                        <div class="overlay">
                            <p class="age-text fadeIn" id="age"></p>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-md-9 px-md-5 mt-5 mt-md-0 mb-3 mb-md-0 text-justify d-flex align-items-start justify-content-center flex-column">
                <h1 class="mb-3">Who Am I?</h1>
                <p>I'm a learner 🎓 & a hustler 😎, presently pursuing my Bachelors in Information
                    Technology Engineering from Sardar Patel College of Engineering, which is
                    located near Vallabh Vidhyanagar where I live, I moved to this city when I was in 10th class
                    before that I used to live in Khambhat. Also working remotely as a Jr Frontend Developer
                    intern at <a class="text-decoration-none" href="https://futureblink.com/">@futureblink</a>,
                </p>
                <p>I was a kinda introverted guy so to overcome my shyness and as a side hustle I make <a
                        class="text-decoration-none" href="https://youtube.com/c/VishwasAcharya">Youtube</a>
                    videos, <a class="text-decoration-none"
                        href="https://open.spotify.com/show/7DQt4atsshjsEG0Am49lHr?si=ii3DcV4JQT2CxOJWWidZKg&utm_source=copy-link">Podcasts</a>
                    🎙 and I have a liking towards Photography also, so sharing that through my <a
                        class="text-decoration-none" href="https://instagram.com/vishwasracharya">Instagram</a>.
                </p>
                <p>And when I feel low 🥱 or in a zone to do nothing then I listen to songs 🎶 and dance on
                    them, just to get myself back on track.
                </p>
            </div>
        </div>
    </div>

        <%- include ('includes/cta.ejs') %>
        
        <section></section>
        
        <%- include ('includes/footer.ejs') %>
        <%- include ('includes/scripts.ejs') %>

        <!-- <div class="pb-1 bg-light bg-gradient container row col-md-4 mb-3 mb-md-0 text-decoration-none fs-4 py-2 fw-bold font-s text-muted col-md-3 ps-md-5 d-flex flex-column m-1 link fa-solid fa-angle-right me-2 flex-wrap align-items-center justify-content-center justify-content-md-between my-2 mx-5 foot-social ms-2 justify-content-end mx-1 p-2 tab text-dark fa-brands fa-twitter fa-instagram fa-blogger-b fa-linkedin fa-facebook fa-github fa-snapchat fa-telegram mb-5 mb-4 col-md-6 col-xl-4 overflow hidden bounceIn border rounded img-fluid text-muted-hover fadeIn mt-3 ms-1 justify-content-between mx-2 my-auto font-xs fa-calendar-days fa-angles-right py-5 col-12 text-justify px-md-4 text-blue btn btn-warning height-30 center text-white form-group form-control w-100 bg-transparent btn-blue sticky-top bg-white shadow-sm py-1 mx-auto px-2 tab-active btn-success disabled btn-danger d-none"></div> -->

        <script>
            document.getElementById('age').innerHTML = `Age ${calculateAge("2000-09-19")}`;
        </script>
</body>

</html>