<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('includes/meta.ejs') %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>About | Vishwas Acharya</title>
    <%- include ('includes/styles.ejs') %>
        <style>
            .age-text {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: .1rem;
            }

            .img-with-text {
                position: relative;
            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.385);
            }

            .img-with-text:hover .overlay {
                opacity: 1;
            }
        </style>
</head>

<body>
    <%- include ('includes/navbar.ejs') %>

        <section>
            <div class="container">
                <div class="row vertical-center mx-md-5 mx-lg-0">
                    <div class="col-md-3 mt-4 mt-md-0">
                        <figure>
                            <div class="img-with-text">
                                <img loading="lazy" src="img/about/av-about-main.jpg"
                                    class="img-fluid shadow-lg fadeIn about-img-hover" alt="About Main Image" />
                                <div class="overlay">
                                    <p class="age-text fadeIn" id="age"></p>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-9 px-md-5 mt-5 mt-md-0 mb-3 mb-md-0 text-justify d-flex align-items-start justify-content-center flex-column">
                        <h1 class="mb-3">Who Am I?</h1>
                        <p>I'm a learner 🎓 & a hustler 😎, presently pursuing my Bachelors in Information
                            Technology Engineering from Sardar Patel College of Engineering, which is
                            located near Vallabh Vidhyanagar where I live, I moved to this city when I was in 10th class
                            before that I used to live in Khambhat. Also working remotely as a Jr Frontend Developer
                            intern at <a class="text-decoration-none" href="https://futureblink.com/">@futureblink</a>,
                        </p>
                        <p>I was a kinda introverted guy so to overcome my shyness and as a side hustle I make <a
                                class="text-decoration-none" href="https://youtube.com/c/VishwasAcharya">Youtube</a>
                            videos, <a class="text-decoration-none"
                                href="https://open.spotify.com/show/7DQt4atsshjsEG0Am49lHr?si=ii3DcV4JQT2CxOJWWidZKg&utm_source=copy-link">Podcasts</a>
                            🎙 and I have a liking towards Photography also, so sharing that through my <a
                                class="text-decoration-none" href="https://instagram.com/vishwasracharya">Instagram</a>.
                        </p>
                        <p>And when I feel low 🥱 or in a zone to do nothing then I listen to songs 🎶 and dance on
                            them, just to get myself back on track.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 text-justify px-md-4 mb-3 mb-md-0">
                        <h2>Want to Connect?</h2>
                        <p>I'm always open to new opportunities to learn and grow, so if you have any
                            opportunities to work with me or just want to say hi 👋, feel free to drop me a line
                            at my <a class="text-decoration-none" href="mailto:vishwasracharya@gmail.com">Email</a> 😉
                        </p>
                        <button class="btn btn-warning height-30 mt-3 center"><a class="text-decoration-none text-white" href="https://www.buymeacoffee.com/vishwasacharya" target="_blank">Buy Me A Coffee ☕</a></button>
                    </div>
                    <div class="col-12 col-md-6 px-md-4 mb-3 mb-md-0">
                        <h2>Subscribe to my Newsletter</h2>
                        <form action="https://">
                            <div class="form-group mb-3">
                                <label for="name">Name</label>
                                <input type="text" class="form-control w-50 height-30 bg-transparent" id="name" placeholder="Vishwas Acharya" required/>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control w-50 height-30 bg-transparent" id="email" placeholder="xyz@gmail.com" required/>
                            </div>
                            <button type="submit" class="btn btn-primary height-30 center">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <%- include ('includes/footer.ejs') %>
            <%- include ('includes/scripts.ejs') %>

                <script>
                    document.getElementById('age').innerHTML = `Age ${calculateAge("2000-09-19")}`;
                </script>
</body>

</html>