<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('includes/meta.ejs') %>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <title>Vishwas Acharya</title>
        <%- include ('includes/styles.ejs') %>
</head>

<body>
    <%- include ('includes/navbar.ejs') %>

    <section class="bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-start justify-content-center flex-column">
                    <div class="">
                        <h1 class="h1 fw-bold text-blue">Welcome</h1>
                        <h1 class="h1 fw-bold">I Am Vishwas Acharya</h1>
                        <p class="text-muted">Jr Frontend Developer Intern @FutureBlink, Video Editor, Creator, SPCE </p>
                        <a class="btn btn-dark fa-solid fa-envelope rounded bg-gradient" href="#cta" rel="noopener noreferrer"> <span class="text-white ms-2 fw-normal">Subscribe</span></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <img class="rounded-pill img-fluid border bounceIn" id="heroImg" width="250" src="img/index-hero-img-2.png" alt="Vishwas Acharya Hero Image">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-12 col-md-9">

                <div class="mb-5">
                    <h2 class="fw-bold mb-4">About Me </h2>
                    <p class="fw-bold">Hi, 👋</p>
                    <p class="text-muted">My name is Vishwas Acharya and soon will be graduating 🎓
                        as a Bachelor's of Information Technology Engineer from
                        <a class="text-blue" href="http://spec.edu.in/" target="_blank">SPCE</a>.
                        <br>
                        I enjoy working in tech 💻 and love to be a part of different communities, hence that's the
                        reason I enjoy learning 📕 & sharing,
                        Apart from this I utilize my time by making Podcast 🎙, Vlogs 📷 and Blogs.
                    </p>
                </div>

                <div class="mb-5">
                    <h2 class="fw-bold mb-4">Education</h2>
                    <div class="mb-3">
                        <p class="fw-bold m-0 text-muted">Sardar Patel College of Engineering <span class="text-muted fw-normal font-xs">(2018-2022)</span></p>
                        <p class="text-muted font-s">Bachelor of Engineering (B.E) in Information Technology</p>
                    </div>
                    <div class="mb-3">
                        <p class="fw-bold m-0 text-muted">Knowledge High School <span class="text-muted fw-normal font-xs">(2016-2018)</span></p>
                        <p class="text-muted font-s">Science/Group A (Maths) - Class 10<sup class="text-muted">th</sup>, 11<sup class="text-muted">th</sup>, 12<sup class="text-muted">th</sup></p>
                    </div>
                </div>

                <div class="mb-5">
                    <h2 class="fw-bold mb-4">Skills</h2>
                    <div class="mb-3">
                        <p class="fw-bold mb-1">Tech</p>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-node-js"> <span class="ms-2">Node.JS</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Express.JS</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Mongo DB</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-js"><span class="ms-2">JavaScript</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-html5"><span class="ms-2">HTML5</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-css3-alt"><span class="ms-2">CSS3</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-sass"><span class="ms-2">SASS</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-java"><span class="ms-2">Java</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-react"><span class="ms-2">React</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands"><span class="ms-2">Heroku</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-git-alt"><span class="ms-2">Git</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-github"><span class="ms-2">GitHub</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-bootstrap"><span class="ms-2">Bootstrap</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-gulp"><span class="ms-2">Gulp</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-jira"><span class="ms-2">Jira</span></li>
                        <li class="badge border rounded p-2 m-1 text-dark fa-brands fa-bitbucket"><span class="ms-2">BitBucket</span></li>
                    </div>
                    <div class="mb-3">
                        <p class="fw-bold mb-1">Other</p>
                        <li class="badge border text-dark p-2 m-1 rounded"> <span class="fw-normal">Video Editing</span></li>
                        <li class="badge border text-dark p-2 m-1 rounded"> <span class="fw-normal">Audio Editing</span></li>
                        <li class="badge border text-dark p-2 m-1 rounded"> <span class="fw-normal">Photography</span></li>
                    </div>
                </div>

                <div class="mb-5">
                    <h2 class="fw-bold mb-4">Experience</h2>
                    <div class="mb-4">
                        <p class="fw-bold text-muted">Jr Front-End Developer</p>
                        <div>
                            <a class="text-blue" href="https://futureblink.com" target="_blank">FutureBlink</a>
                            <p class="text-muted fw-normal mb-2">Feb 2022 - Present</p>
                            <ul class="font-s">
                                <li>Developing functionalities on <a class="text-blue" href="https://salesblink.io" target="_blank">@salesblink</a> website.</li>
                                <li>Working with nodejs and other front-end frameworks.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="fw-bold text-muted">Web Developer</p>
                        <div>
                            <a class="text-blue" href="https://nmrenterprise.com" target="_blank">NMR Enterprise</a>
                            <p class="text-muted fw-normal mb-2">May 2021 - September 2021</p>
                            <ul class="font-s">
                                <li>Developed Front-End websites, Identified & resolved Bugs in the company's website.</li>
                                <li>Maintained the code & documentation of the website for future development.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="fw-bold text-muted">Video Editor</p>
                        <div class="mb-3">
                            <a class="text-blue" href="http://worldmentmedia.com" target="_blank">Worldment Media</a>
                            <p class="text-muted fw-normal mb-2">July 2021 - December 2021</p>
                            <ul class="font-s">
                                <li>Worked on 500+ video content, including categories like comedy, ads, beauty.</li>
                                <li>Edited short form content to maximize the companies reach</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <a class="text-blue" href="https://curiouswings.ml/" target="_blank">Curious Wings</a>
                            <p class="text-muted fw-normal mb-2">April 2021 - May 2021</p>
                            <ul class="font-s">
                                <li>Editing Educational video on the given Voice Over(VO)</li>
                                <li>Graphics, Animation, Basic Audio editing</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <a class="text-blue" href="http://indeedfoundation.org" target="_blank">IN-DEED Foundation</a>
                            <p class="text-muted fw-normal mb-2">February 2021 - March 2021</p>
                            <ul class="font-s">
                                <li>Performed checks on videos and audios for copyright content and child-friendly content</li>
                                <li>Audio editing for educational videos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%- include ('includes/blogs.ejs') %>
    <%- include ('includes/cta.ejs') %>
    <div id="cta"></div>

    <section></section>
    
    <%- include ('includes/footer.ejs') %>
    <%- include ('includes/scripts.ejs') %>
</body>

</html>