<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('includes/meta.ejs') %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Podcast | Vishwas Acharya</title>
    <%- include ('includes/styles.ejs')  %> 
    <style>
        .pod-hero-img{
            width: 20vw;
        }
    </style>
</head>
<body>
    <%- include ('includes/navbar.ejs')  %>
    
    <section class="my-5 py-5">
        <div class="container">
            <div class="col-md-10 mx-auto">
                <div class=" border-0 shadow rounded my-3">
                    <div class="row">   
                        <div class="col-md-4">
                            <img loading="lazy" class="pod-hero-img m-3" src="https://cdn-icons-png.flaticon.com/512/3845/3845814.png" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="my-3">
                                <h1>Vishwas Acharya</h1>
                                <p>This Podcast is about Vishwas sharing his life experience and thoughts 💭 also he will try to summon up his most of the podcasts with a quote. Vishwas is an aspiring Youtuber and content creator so he also shares his social media journey with you. He wants to contribute to the world in whatever way he is capable of so he makes these podcasts and YouTube videos so that his voice reaches to maximum people.
                                    If you want to know more about Vishwas then follow him on his social media platforms.</p>
                                <a href="#" class="badge rounded-pill bg-light text-dark text-decoration-none">Available on 7 Platforms <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-md-10 mx-auto">
                <div>
                    <h2>List of Episodes</h2>
                </div>
            </div>
        </div>
    </section>
    
    <%- include ('includes/footer.ejs')  %>
    <%- include ('includes/scripts.ejs')  %> 
</body>
</html>