<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('includes/meta.ejs') %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Podcast | Vishwas Acharya</title>
    <%- include ('includes/styles.ejs')  %> 
</head>
<body class="blurIn">
    <%- include ('includes/navbar.ejs')  %>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center vertical-center center">Vishwas Acharya Podcast Page 👋 </h1>
                </div>
            </div>
        </div>
    </section>
    
    <%- include ('includes/footer.ejs')  %>
    <%- include ('includes/scripts.ejs')  %> 
</body>
</html>