<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/meta.ejs') %>
    <title><%=title%></title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/min/blog/index.css?cb=1653210294030">
    <!-- endinject -->
    <%- include ('../includes/styles.ejs') %>
    <style>
    </style>
</head>
<body>
    <%- include ('../includes/navbar.ejs') %>
    
    <section class="bg-light">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-10 mx-auto text-center">
                    <h1 class="fw-bold">Vishwas Acharya Blogs</h1>
                    <p class="text-muted">Tech 💻, Philosophy, Life, Experience 😇</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <% for (let i=0; i<posts.length; i++) {%> 
                <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
                    <div class="border rounded overflow hidden">
                        <a href="<%=site_url%><%=slug%>/<%=posts[i].url%>">
                        <div class="p-2">
                            <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn" src="img/blogs/<%=posts[i].url%>.png" alt="<%=posts[i].title%>">
                            <div class="mt-3">
                                <h5 class="fw-bold ms-1"><%=posts[i].title%></h5>
                                <ul class="mb-2 p-0">
                                    <% for (let j=0; j<posts[i].labels.length; j++) {%> 
                                        <li class="badge bg-light rounded-pill font-xs m-0 text-muted text-dark"><%=posts[i].labels[j]%></li>
                                    <% } %>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between mt-3 mx-2"> 
                                    <p class="my-auto text-muted font-xs"><i class="fa-solid fa-calendar-days text-muted me-2"></i><%-formattedDate(oldDate = new Date(posts[i].published))%></p>
                                    <a class="font-xs link" href="<%=site_url%><%=slug%>/<%=posts[i].url%>">Got To Blog <i class="fa-solid fa-angles-right link mx-1"> </i></a>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>

    <%- include ('../includes/footer.ejs') %>
    <%- include ('../includes/scripts.ejs') %>

    <!-- <div class="pb-1 bg-light bg-gradient container row col-md-4 mb-3 mb-md-0 text-decoration-none fs-4 py-2 fw-bold font-s text-muted col-md-3 ps-md-5 d-flex flex-column m-1 link fa-solid fa-angle-right me-2 flex-wrap align-items-center justify-content-center justify-content-md-between my-2 mx-5 foot-social ms-2 justify-content-end mx-1 p-2 tab text-dark fa-brands fa-twitter fa-instagram fa-blogger-b fa-linkedin fa-facebook fa-github fa-snapchat fa-telegram mb-5 mb-4 col-md-6 col-xl-4 overflow hidden bounceIn border rounded img-fluid text-muted-hover fadeIn mt-3 ms-1 justify-content-between mx-2 my-auto font-xs fa-calendar-days fa-angles-right py-5 col-12 text-justify px-md-4 text-blue btn btn-warning height-30 center text-white form-group form-control w-100 bg-transparent btn-blue sticky-top bg-white shadow-sm py-1 mx-auto px-2 tab-active btn-success disabled btn-danger d-none"></div> -->
</body>
</html>