<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Blog | Vishwas Acharya</title>
    <%- include ('../includes/styles.ejs') %>
    <style>
    </style>
</head>
<body>
    <%- include ('../includes/navbar.ejs') %>
    
    <section class="my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto text-center">
                    <h1 class="h1 fw-normal">Vishwas Acharya Blogs</h1>
                    <p class="text-muted">Tech 💻, Philosophy, Life, Experience 😇</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <a href="" class="text-decoration-none">
                        <div class="rounded border-0 shadow">
                            <img loading="lazy" class="card-img-top" src="https://vishwasacharya.hashnode.dev/_next/image?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Fupload%2Fv1645888749378%2FhlrSQ_Ofs.png%3Fw%3D1600%26h%3D840%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp&w=1920&q=75" alt="">
                            <div class="mx-3 p-2">
                                <h5 class="">Viewport meta tag importance</h5>
                                <p class="">What happens if we do not add this tag in our webpage? 🤔</p>
                            </div>
                        </div>  
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include ('../includes/footer.ejs') %>
        <%- include ('../includes/scripts.ejs') %>
</body>
</html>