<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/meta.ejs') %>
    <title><%=title%>| Vishwas Acharya</title>
    <%- include ('../includes/styles.ejs') %>
    <style>
        img{
            border-radius: 10px;
        }
        #blogPost{
            font-family: "Poppins", sans-serif !important;
        }
    </style>
</head>
<body>
    <%- include ('../includes/navbar.ejs') %>
    <% for (let i=0; i<posts.length; i++) {%>
        <% if (posts[i].url === postName) {%> 

            <section class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="center flex-column text-center">
                            <h1 class="fw-bold"><%=posts[i].title%></h1>
                            <div class="mb-2">
                                <ul class="mb-2 p-0">
                                    <% for (let j=0; j<posts[i].labels.length; j++) {%> 
                                        <li class="badge bg-blue bg-gradient rounded-pill font-xs m-0"><%=posts[i].labels[j]%></li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="d-flex align-items-center justify-content-center flex-wrap mx-2 mb-3"> 
                                <p class="my-auto text-muted font-xs mx-2">
                                    <i class="fa-solid fa-calendar-days text-muted me-2"></i>
                                    <span class="fw-bold text-muted">Published:</span> <%-formattedDate(oldDate = new Date(posts[i].published))%>
                                </p>
                                <p class="my-auto text-muted font-xs mx-2">
                                    <i class="fa-solid fa-calendar-days text-muted me-2"></i>
                                    <span class="fw-bold text-muted">Last Updated:</span> <%-formattedDate(oldDate = new Date(posts[i].updated))%>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8 mb-3">
                            <div class="border rounded p-3">
                                <div class="center">
                                    <img loading="lazy" class="img-fluid rounded fadeIn" width="690px" src="/dist/<%=posts[i].url%>.png" alt="<%=posts[i].url%>">
                                </div>
                                <div class="my-3 overflow-hidden" id="blogPost">
                                    <%-posts[i].content%>
                                </div> 
                            </div>
                        </div>
                        <div class="col-12 col-md-4">

                            <div class="border rounded p-3 mb-3">
                                <h5 class="fw-bold">Subscribe to my Newsletter</h5>
                                <div class="form-group mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control w-100 height-30 rounded bg-transparent font-xs" id="name"
                                    placeholder="Vishwas Acharya" />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control w-100 height-30 rounded bg-transparent font-xs" id="email"
                                    placeholder="xyz@gmail.com" />
                                </div>
                                <button type="submit" id="subscribeBtn" class="btn btn-blue bg-gradient rounded height-30 center">Subscribe</button>
                            </div>
                            
                            <div class="border rounded p-3 mb-3">
                                <h5 class="fw-bold">Share</h5>
                                <p class="text-muted font-xs">Hope you enjoyed reading this blog hence, If you like this blog then do share it with your friends & family.</p>
                                <div class="">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%=site_url%><%=slug%>&quote=Check out this amazing blog - <%= posts[i].title %>" title="Share by Facebook" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                        <img loading="lazy" class="org-icons" src="/img/icons/facebook.png" alt="Facebook Icon"/>
                                    </a>
                                    <a href="https://www.linkedin.com/shareArticle?url=<%=site_url%>/<%=slug%>&amp;title=<%= posts[i].title %> &amp;summary=Check out this amazing blog -&amp;source=<%=site_url%><%=slug%>" title="Share by LinkedIn" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                        <img loading="lazy" class="org-icons" src="/img/icons/linkedin.png" alt="LinkedIn Icon"/>
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?text=Check out this amazing blog - <%= posts[i].title %> at <%=site_url%><%=slug%>" title="Share by Tweet" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                        <img loading="lazy" class="org-icons" src="/img/icons/twitter.png" alt="Twitter Icon"/>
                                    </a>
                                    <a href="https://wa.me/?text=Check out this blog - <%= posts[i].title %> at <%=site_url%><%=slug%>" data-action="share/whatsapp/share" title="Share by Whatsapp" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                        <img loading="lazy" class="org-icons" src="/img/icons/whatsapp.png" alt="Whatsapp Icon"/>
                                    </a>
                                    <a href="mailto:?subject=<%= posts[i].title %>&amp;body=Check out this blog - <%= posts[i].title %> at <%=site_url%><%=slug%>" title="Share by Email" title="Share by Email" rel="noreferer, noopener" target="_blank" class="rounded mx-1">
                                        <img loading="lazy" class="org-icons" src="/img/icons/gmail.png" alt="Gmail Icon"/>
                                    </a>
                                </div>
                            </div>

                            <div class="border rounded p-2">
                                <h5 class="fw-bold ms-2">More Posts</h5>
                                <% for (let k=0; k<Math.floor((posts.length)/2); k++) {%>
                                    <% if (posts[k].url !== postName) {%> 
                                    <div class="overflow hidden mb-2">
                                        <a href="<%=site_url%>/blog/<%=posts[k].url%>">
                                        <div class="row p-1">
                                            <div class="col-4">
                                                <img loading="lazy" class="img-fluid text-muted-hover rounded" src="/dist/<%=posts[k].url%>.png" alt="<%=posts[k].url%>">
                                            </div>
                                            <div class="col-8">
                                                <p class="text-muted fw-bold mb-1 p-0 lh-sm font-s"><%=posts[k].title%></p>
                                                <p class="text-muted font-xs m-0 p-0">
                                                    <i class="fa-solid fa-calendar-days text-muted me-2"></i>
                                                    <%-formattedDate(oldDate = new Date(posts[k].published))%>
                                                </p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <% } %>
                                <% } %>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        <% } %>  
    <% } %>  
    <%- include ('../includes/footer.ejs') %>
        <%- include ('../includes/scripts.ejs') %>

<script>
    document.getElementById('subscribeBtn').addEventListener('click', function (e) {
        e.preventDefault();
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        if (name !== '' && email !== '') {
            document.getElementById('name').style.borderColor = '';
            document.getElementById('email').style.borderColor = '';
            fetch('/subscribe', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: name,
                    email: email
                })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('subscribeBtn').innerHTML = 'Subscribed';
                        document.getElementById('subscribeBtn').classList.add('btn-success');
                        document.getElementById('subscribeBtn').classList.remove('btn-blue');
                        document.getElementById('subscribeBtn').classList.add('disabled');
                        document.getElementById('subscribeBtn').classList.remove('btn-blue');
                    } else if (data.isSubscribed) {
                        document.getElementById('subscribeBtn').innerHTML = 'Already Subscribed';
                        document.getElementById('subscribeBtn').classList.add('btn-success');
                        document.getElementById('subscribeBtn').classList.remove('btn-blue');
                        document.getElementById('subscribeBtn').classList.add('disabled');
                        document.getElementById('subscribeBtn').classList.remove('btn-blue');
                    }
                    else {
                        document.getElementById('subscribeBtn').innerHTML = 'Error';
                        document.getElementById('subscribeBtn').classList.add('btn-danger');
                        document.getElementById('subscribeBtn').classList.remove('btn-blue');
                        document.getElementById('subscribeBtn').classList.add('disabled');
                        document.getElementById('subscribeBtn').classList.remove('btn-blue');
                    }
                })
                .catch(err => {
                    console.log(err);
                })
        } else {
            document.getElementById('name').style.borderColor = 'red';
            document.getElementById('email').style.borderColor = 'red';
        }
    });
</script>
</body>
</html>