<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Blog | Vishwas Acharya</title>
    <%- include ('../includes/styles.ejs') %>
    <style>
    </style>
</head>
<body>
    <%- include ('../includes/navbar.ejs') %>
    
    <section class="bg-light">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-10 mx-auto text-center">
                    <h1 class="fw-bold">Vishwas Acharya Blogs</h1>
                    <p class="text-muted">Tech 💻, Philosophy, Life, Experience 😇</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <%# for (let i=0; i<posts.length; i++) {%> 
                <div class="col-md-6 col-xl-4 mb-3 overflow hidden bounceIn">
                    <div class="border rounded overflow hidden">
                        <a href="">
                        <div class="p-2">
                            <img loading="lazy" class="img-fluid text-muted-hover rounded fadeIn" src="img/blogs/.png" alt="">
                            <div class="mt-3">
                                <h5 class="fw-bold ms-1">hlo</h5>
                                <ul class="mb-2 p-0">
                                    <%# for (let j=0; j<posts[i].labels.length; j++) {%> 
                                        <li class="badge bg-light rounded-pill font-xs m-0 text-muted text-dark"></li>
                                    <%# } %>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between mt-3 mx-2"> 
                                    <p class="my-auto text-muted font-xs"><i class="fa-solid fa-calendar-days text-muted me-2"></i></p>
                                    <a class="font-xs link" href="">Got To Blog <i class="fa-solid fa-angles-right link mx-1"> </i></a>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <%# } %>
            </div>
        </div>
    </section>

    <%- include ('../includes/footer.ejs') %>
    <%- include ('../includes/scripts.ejs') %>
</body>
</script>
</html>